POSTGRES_USER=platform
POSTGRES_PASSWORD=platform
POSTGRES_DB=airflow

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW__WEBSERVER__SECRET_KEY=airflow_local_shared_secret_key_change_in_prod

SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_SECRET_KEY=change_me_in_prod

CRAWLER_START_URLS=https://books.toscrape.com/
CRAWLER_KEYWORDS=
CRAWLER_MAX_PAGES=10
CRAWLER_COMPARTMENT=default
CRAWLER_SOURCE_CONFIG=/opt/platform/crawler/schemas/default_schema.yml

